/* Give Strategy blocks a consistent height */
.service-block {
    height: 85%;
}

/* Give About blocks a consistent height */
.about .block {
    height: 100%;
}

.hero-area .block h1 {
    text-transform: none;
}